.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 94px 50px;
  font-weight: normal;
  font-size: 18px;
  color: #000;
}

.header-menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item {
  padding-left: 3px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-left: 0;
}

.header__link, 
.address a {
  text-decoration: none;
  border-bottom: 1.5px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 135px;
  height: 105px;
}

.address {
  max-width: 235px;
  line-height: 135%;
  margin-right: 3px;
}

.header__address {
  justify-self: end;
}